include MANIFEST.in
include README.md
include license.txt
recursive-include barakah_desk *.css
recursive-include barakah_desk *.csv
recursive-include barakah_desk *.html
recursive-include barakah_desk *.ico
recursive-include barakah_desk *.js
recursive-include barakah_desk *.json
recursive-include barakah_desk *.md
recursive-include barakah_desk *.png
recursive-include barakah_desk *.py
recursive-include barakah_desk *.svg
recursive-include barakah_desk *.txt
